.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));
  gap: 27px;
}

@media all and (max-width: 375px) {
  .cards-grid {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
