.card {
  height: 170px;
  display: flex;
  padding-left: 24%;
  margin-bottom: 18px;
  color: var(--color-white);
  position: relative;

  & .card-information {
    flex: 2;

    & .thumbs-result {
      position: absolute;
      left: 0;
      top: 0;
    }
    & .card-text {
      & .card-tittle,
      & .card-description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        max-height: 3em;
      }

      & .card-tittle {
        color: var(--color-white);
        font-weight: 400;
        font-size: 36px;
        line-height: 63px;
      }

      & .card-description {
        font-weight: 400;
        font-size: 18px;
        line-height: 21.6px;
      }
    }
  }

  & .voting-section {
    flex: 1;
    padding: 8px 14px;

    & .voting-last-update {
      font-size: 15px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: right;
      & span {
        text-transform: capitalize;
      }
    }

    & .voting-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 17px;

      & input {
        display: none;
      }

      .thumbs {
        transition: all ease 0.3s;
        border: 2px solid transparent;
      }

      & input:checked + .thumbs {
        border: 2px solid var(--color-white);
      }

      & .voting-button {
        color: var(--color-white);
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        background: var(--color-dark-active-background);
        border: 1px solid var(--color-white);
        padding: 10px 20px;
        transition: all ease 0.3s;
        margin-top: 4px 0px;

        &:disabled {
          background: var(--color-darker-background);
        }
      }
    }
  }

  & .percentages {
    width: 100%;
    position: absolute;
    height: 54px;
    top: calc(100% - 54px);
    left: 0;
    display: flex;
    align-items: center;

    & .percentages-negative,
    & .percentages-positive {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 27px;
      line-height: 32px;
      font-weight: 400;
      letter-spacing: 0px;
      padding: 0px 12px;
      gap: 9px;
    }

    & img {
      width: 22.5px;
      height: 22.5px;
    }

    & .percentages-negative {
      background-color: var(--color-green-background);
    }

    & .percentages-positive {
      background-color: var(--color-yellow-background);
      justify-content: flex-end;
    }
  }
}
